body {
   background-color: rgb(193, 236, 253);
}

.container {
   width: 500px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, auto);
   grid-gap: 5px;
}
header {
   grid-row: 1 ;
   grid-column: 1 / -1;  
}
header h1 {
   font-family: helvetica, arial;
   font-weight: 300;
   font-size: 20px;
   text-align: center;
   color: rgb(1, 181, 252);
}
form {
   display: flex;
   justify-content: center;
}
#weather-today {
   grid-row: 2 ;
   grid-column: 1 / -1;
   text-align: center   
}
#weather-forecast {
   grid-row: 3;
   grid-column: 1 / 5
}

img {
   display: block;
   float: left;
   height: 10px;
}