body {
   background-color: rgb(193, 236, 253);
}
.container h1 {
   font-family: helvetica, arial;
   font-weight: 300;
   font-size: 50px;
   text-align: center;
   color: rgb(1, 181, 252);
}
form {
   display: flex;
   justify-content: center;
}
.container {
   margin-bottom: 30px;
}
.card-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   grid-gap: 5px;
}
.card {
   display: grid;
   grid-column: 1, -1;
   background-color: white;
   border-radius: 40px;
}
.card h2, h3, p {
   font-family: helvetica, arial;
   text-align: center;

}
/* .card p ::first-letter {
   text-transform: capitalize;
} */
img {
   display: block;
   margin: auto;
   width: 60%;
}