body {
    background-color: rgb(193, 236, 253);
    font-family: helvetica, arial;
    text-align: center;
}

/* .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 5px;
}
header {
    border: 2px solid;

    grid-row: 1 ;
    grid-column: 1 / -1;
}
header h1 {

    font-family: helvetica, arial;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: rgb(1, 181, 252);
}
form {
    display: flex;
    justify-content: center;
} */

/* .day {
    width: 15%;
} */
#weather img{
    height: 200px;
    width: 200px;
    position: center;
}
#forecast .weather img {
    height: 50px;
    float: left
}